@use "~/typography.scss";
@use "~/fonts.scss";
@use "~/colors";
@use "~/breakpoints";

.caption {
  @include typography.body3;
  padding-bottom: 10px;
  text-align: start;
  color: colors.$primary4;

  &_margin {
    margin-bottom: 15px;
  }
}

.bold {
  color: colors.$primary4;
}

.buttonSection {
  display: flex;
  justify-content: center;
  margin: 20px 0px 50px 0px;
}

.button {
  display: flex;
  text-align: center;
  cursor: pointer;
  color: colors.$neutrals6;
  background-color: colors.$neutrals3;
  padding: 15px 40px;
  border-radius: 25px;
  transition: 0.3s;
  line-height: 24px;

  @include breakpoints.max-width("mobileL") {
    padding: 15px 15px;
  }
}

.button:hover {
  background-color: colors.$primary4;
}
