@use "~/typography.scss";
@use "~/fonts.scss";
@use "~/colors";
@use "~/breakpoints";

.wrapper {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 20px;
  // color: colors.$neutrals3;
  color: colors.$neutrals6;
  // @include typography.body1--bold;
  @include typography.body3;

  border-radius: 30px;
  // background-color: colors.$primary4;
  background-color: colors.$neutrals3;
}
