$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;

@mixin max-width($breakpoint) {
  @if ($breakpoint == "mobileM") {
    @media (max-width: $mobileM) {
      @content;
    }
  } @else if ($breakpoint == "mobileL") {
    @media (max-width: $mobileL) {
      @content;
    }
  } @else if ($breakpoint == "tablet") {
    @media (max-width: $tablet) {
      @content;
    }
  } @else {
    @error "UNKNOWN MEDIA BREAKPOINT #{$breakpoint}";
  }
}

@mixin min-width($breakpoint) {
  @if ($breakpoint == "mobileM") {
    @media (min-width: $mobileM) {
      @content;
    }
  } @else if ($breakpoint == "mobileL") {
    @media (min-width: $mobileL) {
      @content;
    }
  } @else if ($breakpoint == "tablet") {
    @media (min-width: $tablet) {
      @content;
    }
  } @else {
    @error "UNKNOWN MEDIA BREAKPOINT #{$breakpoint}";
  }
}
