$neutrals1: #141416;
$neutrals2: #23262f;
$neutrals3: #353945;
$neutrals4: #777e90;
$neutrals5: #b1b5c3;
$neutrals6: #e6e8ec;
$neutrals7: #f4f5f6;
$neutrals8: #fcfcfd;

$primary1: #3772ff;
$primary2: #9757d7;
$primary3: #ef466f;
$primary4: #45b26b;

$secondary1: #4bc9f0;
$secondary2: #e4d7cf;
$secondary3: #ffd166;
$secondary4: #cdb4db;
