@use "~/typography.scss";
@use "~/fonts.scss";
@use "~/colors";
@use "~/breakpoints";

.wrapper {
  display: flex;
  justify-content: center;
  overflow-wrap: break-word;
  word-break: break-word;
  margin: 0 80px;

  @include fonts.poppins;

  @include breakpoints.max-width("mobileL") {
    margin: 0 32px;
  }
}

.containerWelcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1120px;
  padding-bottom: 20px;
  text-align: center;
  @include typography.body1;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: colors.$neutrals6;
  width: 100%;
  max-width: 1120px;
  padding-bottom: 20px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  @include typography.body1;
}

.registerButton {
  cursor: pointer;
  color: colors.$neutrals7;
  background-color: transparent;
  width: 150px;
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid colors.$neutrals4;
  transition: 0.3s;
  margin-top: 20px;
  @include typography.caption2;
}

.registerButton:hover {
  background-color: colors.$neutrals4;
}

.registerButtonLink {
  color: colors.$neutrals7;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: colors.$primary1;
  width: 100%;
  max-width: 1120px;
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
  @include typography.body2;
}

.loginButton {
  cursor: pointer;
  color: colors.$neutrals7;
  background-color: colors.$primary1;
  width: 150px;
  padding: 12px 20px;
  border-radius: 25px;
  border-style: none;
  transition: 0.3s;
  margin-top: 20px;
  @include typography.caption2;
}

.loginButton:hover {
  background-color: colors.$neutrals4;
}

.loginButtonLink {
  color: colors.$neutrals7;
}

.container {
  width: 100%;
  max-width: 1120px;
}

.element {
  @include typography.caption;
  padding-bottom: 20px;
}

.field {
  color: colors.$neutrals5;
  @include typography.caption2;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  cursor: pointer;
  color: colors.$neutrals7;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid colors.$neutrals4;
  transition: 0.3s;

  @include typography.caption;
}

.button:hover {
  background-color: colors.$primary1;
}

.loading {
  display: flex;
  justify-content: center;
}
