@use "../../styles/typography";
@use "../../styles/fonts";

.container {
  display: flex;
  gap: 8px;
}

.img {
  width: 32px;
  height: 32px;
}

.text {
  @include typography.body1;
  @include fonts.poppins;
}
