@use "~/typography.scss";
@use "~/fonts.scss";
@use "~/colors";
@use "~/breakpoints";

.wrapper {
  display: flex;
  justify-content: center;
  padding: 0 80px;
  margin-bottom: 20px;

  @include fonts.poppins;

  @include breakpoints.max-width("mobileL") {
    padding: 0 32px;
  }
}

.container {
  @include fonts.poppins;
  line-height: 24px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px 15px;
  width: 100%;
  max-width: 865px;

  border-radius: 30px;
  border: 2px solid colors.$primary4;

  @include breakpoints.min-width("tablet") {
    max-width: 1120px;
  }
}
