@use "~/typography.scss";
@use "~/fonts.scss";
@use "~/colors";
@use "~/breakpoints";

.logoSection {
  gap: 32px;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  padding-bottom: 1px;

  &_text {
    @include typography.body1;
    @include fonts.poppins;
    font-weight: 350;
    color: colors.$neutrals6;

    @include breakpoints.max-width("tablet") {
      @include typography.body2;
      width: 192px;
    }
  }
}
