@use "~/colors";
@use "~/typography";
@use "~/fonts";
@use "~/breakpoints";

.wrapper {
  display: flex;
  justify-content: center;
  padding: 0 80px;
  background-color: colors.$primary3;

  @include breakpoints.max-width("mobileL") {
    padding: 0 32px;
  }

  @include fonts.poppins;
}

.container {
  justify-content: center;
  width: 100%;
  max-width: 865px;
  padding-bottom: 30px;
  background-color: colors.$primary1;
  border-radius: 40px;

  @include breakpoints.min-width("tablet") {
    max-width: 1120px;
  }
}
