@use "~/colors";
@use "~/breakpoints";
@use "~/typography";

.wrapper {
  display: flex;
  justify-content: center;
  border-top: 1px solid colors.$neutrals6;
  padding: 0 80px;

  @include breakpoints.max-width("mobileL") {
    padding: 0 32px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 865px;
  padding-top: 80px;

  @include breakpoints.min-width("tablet") {
    max-width: 1120px;
  }

  @include typography.h1;
}
