@use "~/colors";
@use "~/breakpoints";
@use "~/typography";

.wrapper {
  display: flex;
  justify-content: center;
  border-top: 1px solid colors.$neutrals3;
  padding: 0 80px;

  @include breakpoints.max-width("mobileL") {
    padding: 0 32px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 865px;
  padding-top: 50px;

  @include breakpoints.min-width("tablet") {
    max-width: 1120px;
  }

  @include breakpoints.max-width("tablet") {
    padding-top: 64px;
  }
}

.content {
  display: flex;
  gap: 100px;
  padding-bottom: 48px;

  @include breakpoints.max-width("tablet") {
    gap: 32px;
    flex-direction: column;
  }
}

.navigation {
  display: flex;
  flex: 3;
  gap: 32px;
  justify-content: center;

  @include breakpoints.min-width("tablet") {
    gap: 62px;
  }

  @include breakpoints.max-width("tablet") {
    flex-direction: column;
  }
}
