@use "../../styles/colors";
@use "../../styles/breakpoints";
@use "../../styles/typography";

.wrapper {
  display: flex;
  justify-content: space-around;
  height: fit-content;
  border-top: 1px solid colors.$neutrals6;
}

.container {
  display: flex;
  max-width: 1120;
  padding-top: 80px;
  padding-bottom: 48px;

  @include typography.h1;
  @include breakpoints.max-width(small) {
    background-color: teal;
  }
}

.logoSection {
  gap: 32px;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  padding-bottom: 1px;

  &_text {
    @include typography.body1;
  }
}
