@use "../../styles/colors";
@use "../../styles/breakpoints";
@use "../../styles/typography";
@use "../../styles/fonts";

.containerElements {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.logoSection {
  gap: 32px;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  padding-bottom: 1px;

  &_text {
    @include typography.body1;
  }
}
