@use "~/typography.scss";
@use "~/fonts.scss";
@use "~/colors";
@use "~/breakpoints";

.caption {
  @include typography.body3;
  padding-bottom: 10px;
  text-align: start;
  color: colors.$secondary1;

  &_margin {
    margin-bottom: 15px;
  }
}

.bold {
  color: colors.$secondary1;
}

.buttonSection {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  text-align: center;
  cursor: pointer;
  color: colors.$neutrals6;
  background-color: colors.$neutrals3;
  padding: 15px 40px;
  border-radius: 25px;
  transition: 0.3s;
}

.button:hover {
  background-color: colors.$neutrals4;
}
