@use "~/breakpoints";
@use "~/colors";
@use "~/typography";
@use "~/fonts";

.mobileMenu {
  position: relative;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  @include typography.button2;
}

.menuItems {
  position: fixed;
  height: 100vh;
  top: 0px;
  right: 0px;
  width: 240px;
  z-index: 100;

  background-color: rgba(colors.$neutrals3, 0.95);

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @include breakpoints.min-width("tablet") {
    width: 300px;
  }
}

.menuItems li {
  @include typography.caption;
  margin: 0;
}

.userMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 20px 0px;
  margin: 0 30px;
  border-bottom: 1px solid colors.$neutrals4;

  &_item {
    cursor: pointer;
    padding: 10px;
    @include typography.caption;

    &:hover {
      background-color: colors.$neutrals2;
    }
  }

  &_itemHello {
    padding: 10px;
    color: colors.$primary4;
    @include typography.caption;
  }
}

.menuStyleMain {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
  margin: 0 30px;
  border-bottom: 1px solid colors.$neutrals4;

  @include breakpoints.min-width("tablet") {
    display: none;
  }
}

.menuStyle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
  margin: 0 30px;
  border-bottom: 1px solid colors.$neutrals4;
}

.menuItems li:hover {
  background-color: colors.$neutrals2;
}

.menuItems a {
  display: block;
  color: colors.$neutrals7;
  text-decoration: none;
  padding: 10px;
}

@media (hover: hover) and (pointer: fine) {
  .menuItems li:hover {
    background-color: colors.$neutrals2;
  }

  .userMenu_item:hover {
    background-color: colors.$neutrals2;
  }
}

.symbol {
  cursor: pointer;
  margin: 40px 40px 20px 40px;
}

@media (hover: hover) and (pointer: fine) {
  .symbol:hover {
    .xSymbol {
      color: colors.$neutrals5;
    }
  }
}

.symbol:hover {
  .xSymbol {
    color: colors.$neutrals5;
  }
}

.xSymbol {
  width: 20px;
  height: auto;
  color: colors.$neutrals4;
}
