@use "~/breakpoints";
@use "~/colors";
@use "~/typography";
@use "~/fonts";

.wrapper {
  position: relative;
}

.menuLine {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 0;
}

/*---------------------------------*/

.menu {
  position: fixed;
  height: 100vh;
  top: 0px;
  right: 0px;
  width: 240px;
  z-index: 100;

  background-color: rgba(colors.$neutrals3, 0.95);

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @include breakpoints.min-width("tablet") {
    width: 300px;
  }
}

.menu li {
  @include typography.caption;
  margin: 0;
}

.menu a {
  display: block;
  color: colors.$neutrals7;
  text-decoration: none;
  padding: 10px;
}

/*---------------------------------*/

.symbol {
  cursor: pointer;
  margin: 40px 40px 20px 40px;
}

.icon {
  width: 20px;
  height: auto;
  color: colors.$neutrals4;
}

/*---------------------------------*/

.userMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 20px 0px;
  margin: 0 30px;
  border-bottom: 1px solid colors.$neutrals4;

  &_item {
    cursor: pointer;
    padding: 10px;
    @include typography.caption;

    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  &_itemHello {
    padding: 10px;
    color: colors.$primary4;
    @include typography.caption;
  }
}

/*---------------------------------*/

.pageMenuApp {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
  margin: 0 30px;
  border-bottom: 1px solid colors.$neutrals4;

  @include breakpoints.min-width("tablet") {
    display: none;
  }
}

.pageMenuApp li {
  cursor: pointer;
  padding: 10px 10px;

  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.pageMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
  margin: 0 30px;
  border-bottom: 1px solid colors.$neutrals4;
}

.pageMenu li {
  cursor: pointer;
  padding: 10px 10px;

  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) and (pointer: fine) {
  .menu li:hover {
    background-color: colors.$neutrals2;
  }

  .symbol:hover {
    .icon {
      color: colors.$neutrals5;
    }
  }

  .userMenu_item:hover {
    background-color: colors.$neutrals2;
  }
}
